.container-organism {
  display: flex;
  justify-content: space-between;

  .left-side-bar,
  .right-side-bar {
    height: calc(100vh - 160px);
    padding: 40px;
    background: #1a445c;

    &__menu {
      display: flex;
      flex-direction: column;

      font-size: 20px;
      line-height: 27px;

      .title {
        color: #ffffff;
        font-weight: bold;
      }
      .text-content {
        color: #ffffff;
      }
    }

    &__text-content {
      display: block;
      margin-top: 20px;
      margin-left: 10px;

      font-weight: normal;
      font-style: normal;
      color: #ffffff;
    }
  }
}
