div {
  display: inherit;
}

.right-side-bar {
  max-width: 384px;
  max-width: 313px;
  color: #fff;
  display: block;
  &__menu {
    .title {
      margin-bottom: 20px;
    }
  }

  .following-container {
    &,
    &__folow {
      display: flex;
    }

    height: 57px;
    align-items: center;
    margin: 18px -40px;
    padding: 0 40px;
    background: #254e64;

    &__folow__off,
    &__folow__on {
      display: flex;
      cursor: pointer;
      justify-content: center;
      width: 33px;

      font-weight: normal;
      font-size: 14px;
      line-height: 19px;

      color: #1a445c;
      background: #fff;
      border: 1px solid #ffffff;
      box-sizing: border-box;
    }

    &__folow__on.active,
    &__folow__off.active {
      background: #1a445c;
      color: #fff;
    }

    &__trading {
      margin-top: 0;
      &-wrap {
        display: flex !important;
        span {
          cursor: pointer;
        }
      }
    }

    &__text {
      margin-left: 22px;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .button-close {
    padding: 19px;
    background: #eb5757;

    &__text {
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
    }
  }
}

.right-side-bar__text-list {
  list-style: none !important;
  padding: 0;
  padding-left: 10px;
  max-height: 350px;
  overflow-y: scroll;
  li {
    margin-top: 10px;
    &:nth-child(1) {
      margin-top: 0px;
    }
  }
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
  }
}
.activeTab {
  border-bottom: 2px solid #fff;
}
.right-side-bar__text-content {
  cursor: pointer;
}